* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 20px auto 0;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #4CAF50;
    border: 1px solid #4CAF50;
}
button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
}
button:hover {
    background-color: #66d37a;
}
button:active {
    background-color: #3e8e41;
}
input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    padding: 10px;
}
input:focus {
    box-shadow: 0px 0px 10px #4CAF50;
    outline: 1px solid #3e8e41;
}
.mainControl {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
#todoInput {
    flex-grow: 1;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.search {
    flex-grow: 1;
}
.search input {
    width: 100%;
}
.todo-list {
    list-style-type: none;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #ffffff;
}
.todo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0 10px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #4CAF50;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.checked {
    background-color: #baeeb5;
}
.completed {
    text-decoration: line-through;
}
.date-time {
    font-size: 0.8em;
    color: gray;
}
.delete-btn {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 6px;
    transition: background-color 0.3s ease;
    font-size: 11px;
}
.delete-btn:hover {
    background-color: #f76969;
}