.addPost {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 8px 0 var(--shadow-color);
  display: grid;
  grid-auto-columns: minmax(235px, 500px);
  justify-content: center;
  margin-bottom: 10px;
  &__label {
    font-size: 24px;
  }
  &__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__button {
    color: var(--button-font-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    box-shadow: 0 0 8px 0 var(--shadow-color);
    border-radius: 4px;
    padding: 7px;
    transition: all 0.3s linear;
    margin-bottom: 10px;
    @media (hover: hover) {
      &:hover {
        color: var(--button-font-hover-color);
        background-color: var(--button-background-hover-color);
        border: 1px solid var(--button-border-hover-color);
        cursor: pointer;
      }
    }
  }
  &__buttons-block {
    display: flex;
    justify-content: space-between;
  }
  &__main-buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__image-input {
    display: flex;
  }

  &__image-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--add-post-input-background);
    color: var(--add-post-input-font-color);
    border: 1px solid var(--add-post-font-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 8px 0 var(--shadow-color);
  }
  &__image-reset {
    color: var(--add-post-input-reset-color);
    border: none;
    background-color: var(--add-post-input-background);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s linear;
    margin: 0 10px;
    @media (hover: hover) {
      &:hover {
        color: var(--add-post-input-reset-hover-color);
        cursor: pointer;
      }
    }
  }

  &__delete {
    color: var(--delete-button-font-color);
    background-color: var(--delete-button-color);
    border: 1px solid var(--delete-button-border-color);
  }

  &__cancel {
    color: var(--cancel-button-font-color);
    background-color: var(--cancel-button-background-color);
    border: 1px solid var(--cancel-button-border-color);
    @media (hover: hover) {
      &:hover {
        background-color: var(--cancel-button-hover-background-color);
        color: var(--cancel-button-hover-font-color);
      }
    }
  }

  &__input {
    display: flex;
    justify-content: space-between;
    background-color: var(--add-post-input-background);
    color: var(--add-post-input-font-color);
    border: 1px solid var(--add-post-font-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 8px 0 var(--shadow-color);
    padding: 5px;
    font-size: 18px;
  }
}

textarea {
  resize: vertical;
  overflow: hidden;
  background: url(https://www.svgrepo.com/show/335475/resize-right.svg)
    no-repeat 99.9% 100%;
  background-size: 12px;
}

textarea::-webkit-resizer {
  display: none;
}

input[type="file"]::file-selector-button {
  display: inline-block;
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 9px;
  padding: 7px;
  transition: all 0.3s linear;
  font-size: 16px;
}
@media (hover: hover) {
  input[type="file"]::file-selector-button:hover {
    color: var(--button-font-hover-color);
    background-color: var(--button-background-hover-color);
    border: 1px solid var(--button-border-hover-color);
    cursor: pointer;
  }
}