* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    gap: 10px;
    margin: 10px;
    font-size: 24px;
}

.todo {
    grid-column: span 1;
    grid-row: span 2;
    padding: '5px'
}

.users {
    grid-column: span 1;
    grid-row: span 1;
    padding: '5px'
}

.posts {
    grid-column: span 1;
    grid-row: span 1;
    padding: '5px'
}

h2 {
    font-size: 24px;
    text-align: center;
}