* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr 1fr;
    gap: 10px;
    margin: 10px;
    font-size: 24px;
}

.search {
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
}

.todo {
    grid-column: span 1;
    grid-row: span 2;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.users {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.posts {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.item {
    list-style: none;
    font-size: 20px;
}