.header {
    &__toggle-menu {
        z-index: 2;
        width: 24px;
        height: 18px;
        position: relative;
        display: flex;
        align-self: center;
        cursor: pointer;
        &:hover::after, &:hover::before {
          border-bottom: 3px solid var(--icon-hover-color);
        }
        &:hover .header__toggle-item {
          border-bottom: 3px solid var(--icon-hover-color);
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 3px solid var(--icon-color);
          position: absolute;
          left: 0;
          top: 0;
          transition: all .3s linear;
        }
    
        &::after {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 3px solid var(--icon-color);
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all .3s linear;
        }
    
        &.open {
          .header__toggle-item {
            width: 0;
          }
    
          &::after {
            transform: rotate(-45deg) translate(5px, -5px);
          }
          &::before {
            transform: rotate(45deg) translate(5.8px, 5.8px);
          }
        }
      }
    
      &__toggle-item {
        border-bottom: 3px solid var(--icon-color);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        transition: all .3s linear;
      }

      &__toggle-list {
        position: absolute;
        left: -500px;
        top: 55px;
        transition: all .3s linear;
        background-color: var(--header-background-color);
        height: calc(100dvh - 55px);
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-width: 150px;
        border-right: 1px solid var(--header-border-color);
        box-shadow: 4px 8px 8px 0 var(--shadow-color);
        &.open {
            left: 0;
        }
        &-item {
            list-style-type: none;
            color: var(--header-font-color);
            padding: 10px;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s linear;
            &:hover {
                background-color: var(--header-hover-color);
                color: var(--header-font-hover-color);
            }
        }
      }
}