.header {
    background-color: var(--header-background-color);
    color: var(--header-font-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--header-border-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: all .3s linear;
    &__container{
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: auto 1fr auto auto;
      padding: 10px;
      position: relative;
      max-width: 100%;
      gap: 20px;
      @media only screen and (max-width: 400px) {
        flex-wrap: wrap;
      }
    }
  }