.post {

  &__error {
    font-size: 24px;
    padding-bottom: 10px;
  }

  &__tab {
    padding: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      color: var(--tab-hover-color);
    }

    &.selected {
      color: var(--tab-hover-color);
      border-bottom: 1px solid var(--tab-hover-color);
    }
  }

  &__empty {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 8px 0 var(--shadow-color);
    font-size: 40px;
    grid-column: span 8;

    @media only screen and (max-width: 430px) {
      font-size: 30px;
    }

    @media only screen and (max-width: 350px) {
      font-size: 24px;
    }
  }

  &__icons {
    cursor: pointer;
    width: 20px;
    height: 20px;

    & .liked path {
      fill: var(--icon-hover-color);
    }

    & path {
      fill: var(--icon-color);
      transition: all 0.3s linear;
    }

    &:hover path {
      fill: var(--icon-hover-color);
    }

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;

    @media only screen and (max-width: 1540px) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media only screen and (max-width: 1300px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (max-width: 1215px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: 1028px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: 780px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 670px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 440px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-empty {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 8px 0 var(--shadow-color);
    font-size: 40px;

    @media only screen and (max-width: 430px) {
      font-size: 30px;
    }

    @media only screen and (max-width: 350px) {
      font-size: 24px;
    }
  }

  &-card {
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 0 var(--shadow-color);
    transition: 0.3s;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    transition: all 0.3s linear;

    & .post-card__description {
      display: none;
    }

    &__bottom-menu {
      display: flex;
      justify-content: space-between;
    }

    &__likes-menu {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;
      align-items: center;
    }

    &__extra-menu {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;
      align-items: center;
    }

    &:hover {
      box-shadow: 0 8px 16px 0 var(--shadow-color);
      border: 1px solid var(--border-hover-color);
    }

    & img {
      width: 100%;
      height: auto;
      margin-bottom: 5px;
      border-radius: 5px;
    }

    & h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }

    & p {
      font-size: 16px;
      margin-bottom: 5px;
      color: var(--secondary-font-color);
    }
  }
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.medium {
  grid-column: span 2;
  grid-row: span 1;

  @media only screen and (max-width: 440px) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.large {
  grid-column: span 3;
  grid-row: span 1;

  @media only screen and (max-width: 630px) {
    grid-column: span 2;
    grid-row: span 1;
  }

  @media only screen and (max-width: 440px) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.post {
  & .template-title {
    max-width: 70%;

    @media only screen and (max-width: 1000px) {
      max-width: 100%;
    }
  }

  &-single {
    max-width: 70%;

    @media only screen and (max-width: 1000px) {
      max-width: 100%;
    }

    & .post-card__options {
      display: none;
    }

    & .post-card {
      box-shadow: none;
      border: none;

      &:hover {
        box-shadow: none;
        border: none;
      }

      & img {
        width: 100%;
        height: auto;
        align-self: center;
        margin-bottom: 10px;
        cursor: pointer;
      }

      & .post-card__description {
        display: block;
        margin-bottom: 10px;
        font-size: 24px;

        @media only screen and (max-width: 600px) {
          font-size: 20px;
        }
      }

      & p {
        margin-bottom: 10px;
      }

      & h2 {
        display: none;
      }
    }

    & .buttonBack {
      margin-left: 20px;
    }
  }
}

.liked path,
.disliked path,
.favorited path {
  fill: var(--icon-hover-color);
}

.post__loading {
  position: absolute;
  left:50%;
  transform:translateX(-50%);
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--spinner-circle-color);
  border-top-color: var(--spinner-highlighter);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}