.search {
  &-button {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    & path {
      fill: var(--icon-color);
      transition: all 0.3s linear;
    }
    @media (hover: hover) {
      &:hover path {
        fill: var(--icon-hover-color);
      }
    }
  }

  &-form {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-hidden {
    position: relative;
  }

  &-input {
    border: 1px solid var(--input-border-color);
    box-shadow: 0 2px 4px 0 var(--shadow-color);
    border-radius: 4px;
    padding: 7px;
    width: 100%;
    background: var(--input-background-color);
    @media (hover: hover) {
      &:hover {
        border: 1px solid var(--border-hover-color);
      }
    }
  }
}
